# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [7]:
numberfloat = 2.3
print(numberfloat)
print(numberfloat)
numberfloat = 7.2
print(numberfloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 2
num2 = 5.4

result= num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [14]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [16]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [19]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [21]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2 
print(result_floor)

2.0
1.0

##### Modulo

In [30]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [32]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [33]:
name = "Joel"
print(name)

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [39]:
print("This is my brother,", name)

print("full name:", name, end=" Roberson")

This is my brother, Joel
full name, Joel Roberson

##### String Concatenation

In [46]:
first_name= "John"
last_name= "Smith"

full_name= first_name + " " + last_name
print(full_name)

full_name += " Jr."
print(full_name)

John Smith
John Smith Jr.

##### Type Conversion

In [49]:
number = "32"

change_type_num = int(number)
print(number)
# Cant add a + 1 to 'number' cause it is still a string
print(change_type_num + 1)

32
33

##### input()

In [56]:
# input will always return a string

# name =input("What is your name? ")
# print("Nice to meet you, " + name)

age= int(input("What is your age? "))
add_age = age + 5
print(add_age)

What is your age? 5
10

##### format()

In [61]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!"
print(result_again)

What is your age? 12
You are 12 Justin and you are getting wiser!
12 is a great time in life!

##### Old Way (python 2)

In [62]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 12 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [76]:
name = input("What is your name? ")
color = input("What is the color of your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")

# my_car = year +" "+ color +" "+ make +" "+ model
results = f"Thank you, {name.title()}. Your {year} {color.title()} {make.title()} {model.title()} is ready!"
print(results)

What is your name? justin
What is the color of your car? grey
What year is your car? 1967
What make is your car? ford
What model is your car? mustang
Thank you, Justin. Your 1967 Grey Ford Mustang is ready!

### If Statements

In [86]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

# if num2>num1 && num3>0:
#     print('second one bigga')
# elif num1>num2:
#     print('first one winna')
# else:
#     print('equal')

num1 = 5
num2 = 6
num3 = 0

# if num1 == num2:
#     print('thems equal')
# else: 
#     print('nahhhhhh')
    
if num2>num1:
    print('second one bigga')
elif num1>num2:
    print('first one winna')
else:
    print('equal')

second one bigga

##### 'is' keyword

In [88]:
# The 'is' keyword is for checking for the same object, but not the same value ***NOT USED BY MANY***

num3 = 55

if num3 is 55:
    print('This is the exact number/object')

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\rober\AppData\Local\Temp\ipykernel_7772\1847708522.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [96]:
#Check if a character is in a string

char_name = "Frodo Baggin"

if "rodo" in char_name:
    print("ello")

ello

##### 'not in' keyword'

In [98]:
sega_char = "Sonic"

if 'lwlwlw' not in sega_char:
    print("that is not here")

that is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [2]:
name = input("What is your name, you booger eater you? ")

if 'p' not in name:
    print("There ain't no P in this beyotch")
else:
    print("Bet you have a p in your name cause you're a pussy")

What is your name, you booger eater you? paul
Bet you have a p in your name cause you're a pussy

## Using 'and'/'or' with If Statements

In [8]:
num11 = 15
num12 = 3
num13 = 10
num14 = 3

# If with and statement

if num11 / 5 == num12 and num13 - 7 == num14:
    print("True dat")
    
# If with 'or' statement

if num11 < num12 or num13 == num14 or num11 > num12:
    print("WTF is this world")

True dat
WTF is this world

### Elif Statements

In [16]:
first_name = input("What is your name? ")

if first_name == 'Smith':
    print("The name is smith.")
elif first_name == "Justin":
    print("The name is Justin")    
elif first_name != "Max":
    print("The name is not Max!")
else:
    print("Fuck your face!")

What is your name? max
The name is not Max!

### Else Statements

In [ ]:
# see above

### For Loops

In [30]:
# Syntax:
# for counter in condition

name = 'Justin Roberson'
for anything_you_want in name:
    print(anything_you_want)
    

name = 'Justin Roberson'
a_list = [1, 2, 3, 4]
for i in a_list:
    print(i)

J
u
s
t
i
n

R
o
b
e
r
s
o
n
1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [42]:
for i in range(20):
    if i == 2:
        continue
    print(i)
    
name = 'Justin Roberson'
for i in name:
    if i == 's':
        continue
    print(i)

0
1
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
J
u
t
i
n

R
o
b
e
r
o
n

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for i in range(20):
    if i == 5:
        break
    print(i)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
name = 'Justin Roberson'
for i in name:
    pass

##### Double For Loops

In [49]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j= ', j )

i =  0 j=  0
i =  0 j=  1
i =  0 j=  2
i =  0 j=  3
i =  0 j=  4

### While Loops

In [51]:
# Syntax:
# While keyword, condition statement

num = 0 

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [59]:
# game_over = False

# while True:
#     print('Infinite Loop')
#     if game_over == False:
#         break

game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input("Would you like to stop? ")
    if user_input == 'yes':
        game_over = False

Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? n
Infinite Loop
Would you like to stop? Yes
Infinite Loop
Would you like to stop? yes

##### While & For Loops Used Together

In [62]:
num = 0

while num < 5:
    print('\nWhile loop iteration: ' + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        
    num += 1

While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [82]:
# range(Start, stop, step)

for i in range(1, 20, 3):
    print(i)

TypeError: range() argument after ** must be a mapping, not int

##### len()

In [69]:
name = input("Give me the name of your favorite book. ")

length = len(name)
print(length)

Give me the name of your favorite book. Coloring
8

##### help()

In [74]:
# Use this function to view more info about a Python Function

help(len)
print("---------------------------------------------------------------------")
help(print)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

---------------------------------------------------------------------
Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##### isinstance()

In [75]:
# Check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)

# print(isinstance(4.5, int))

# if isinstance(4.5,float):
#     print("This number is a float type")

num = input("Pick a number")
if isinstance(num, int):
    print(F"{num} is an int")
else:
    print(f"{num} is a float")

Pick a number5
5 is a float

##### abs()

In [76]:
# /-5/ = 5 **Absolute Value**

print(abs(-5))

5

### Try and Except

In [81]:
# Use this to logout graceful and useful error messages
# Does not stop the program

try:
    input_num = int(input('Guess a number'))
    print('Your number is ' + input_num)
except:
    print("That didn't work")

Guess a numberji
That didn't work

### Lists

##### Declaring Lists

In [30]:
list_1 = []

names = ['Max', 'Cindy', 'Justin', 'Nate', 'Gubby']
print(names)

for poopy in names:
    print(poopy)

['Max', 'Cindy', 'Justin', 'Nate', 'Gubby']
Max
Cindy
Justin
Nate
Gubby

##### Indexing a List

In [17]:
# list_name[start: stop: step]

# Single index
print(names[1])

# Print starting at the beginning of a list up until a number
print(names[1:])

# Print starting at the beginning of a list unitl a number
print(names[:2])

# Print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'Justin', 'Nate', 'Gubby']
['Max', 'Cindy']
['Cindy', 'Nate']
['Gubby', 'Nate', 'Justin', 'Cindy', 'Max']

##### .append()

In [31]:
names.append('Cheeser')
print(names)

['Max', 'Cindy', 'Justin', 'Nate', 'Gubby', 'Cheeser']

##### .insert()

In [53]:
names.insert(1,'Gunther')
print(names)

['Max', 'Gunther', 'Gunther', 'Gunther', 'Gunther', 'Gunther', 'Justin', 'Nate', 'Cheeser']

##### .pop()

In [33]:
# Defaults to use last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Cindy
['Max', 'Gunther', 'Justin', 'Nate', 'Gubby', 'Cheeser']


##### .remove()

In [57]:
# Value to be removed rather than index

# names.remove('Gunther')
# print(names)

# Remove multiple Gunthers from a list
while 'Gunther' in names:
    names.remove('Gunther')
print(names)

['Max', 'Justin', 'Nate', 'Cheeser']

##### del()

In [58]:
# Goes by index, rather than value 
# Be careful, del() could cause indexing errors

del(names[1])
print(names)

['Max', 'Nate', 'Cheeser']

##### Concatenating Two Lists

In [60]:
# Will append two lists together, will NOT add the values!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [69]:
# Lists can hold any other type of element! Including other lists!
# They can go as deep as you want; this is called nested lists

names = ['Max', 'Sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
print(names)
print(names[3][1][0])

['Max', 'Sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Sue

##### Looping Through Lists

In [72]:
# Two ways to loop through a list! One is by index; the other is by using the 'in' keywords

# By index
for i in range(len(names)):
    print(names[i])
    
# By loop
for i in names:
    print(i)

Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
cubed = 1

while cubed < 1000:
    print(cubed)
    cubed *= 3

1
3
9
27
81
243
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [14]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1,101):
    if all(num%i!=0 for i in range(2,num)):
       print (num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [40]:
age = int(input("What is your age? "))
if age < int(18):
    print('kids')
elif age <= int(65):
    print('adults')
else:
    print('seniors')

What is your age? 17
kids